* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #130e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: #4b007d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
}
.container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form label {
  color: #fff;
  margin-bottom: 10px;
}
.form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.form button:hover {
  background-color: #3700b3;
}
.guest-item {
  background-color: #6a1b9a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.guest-item span {
  flex: 1;
}
.guest-item button {
  background-color: #6200ea;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.guest-item button:hover {
  background-color: #3700b3;
}
